form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}

input {
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #333;
  width: 103%;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #41b883;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4ddf9b;
}

div {
  width: 450px;
  height: 100px;
}
.form-group.centered {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}